header > h1 {
    padding-right: 5.8%;
    padding-bottom: 10px;
    line-height: 40px;
    vertical-align: middle;
    display: block;
    width: 70%;
    border-bottom: #FFFFFF 2px solid;
}

.logo {
    width: 200px;
}

.img_head {
    position: absolute;
    animation: none;
    top: -10vw;
    right: -40vw;
    width: 75vw;
    height: auto;
    z-index: -1;
}

main > div:first-of-type {
    display: block;
    width: 70%;
    padding-bottom: 40px;
}