header > h1 {
    padding-right: 5.8%;
    padding-bottom: 1rem;
    line-height: 4rem;
    vertical-align: middle;
    display: block;
    width: 70%;
    border-bottom: #FFFFFF .2rem solid;
}

.logo {
    width: 20rem;
}

.img_head {
    position: absolute;
    animation: none;
    top: -10vw;
    right: 0;
    width: 40vw;
    height: auto;
    z-index: -1;
}

main > div:first-of-type {
    display: block;
    width: 70%;
    padding-bottom: 4rem;
}