@font-face {
    font-family: 'NotoMono';
    src: url('../../fonts/NotoMono-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Britannic';
    src: url('../../fonts/britannic.ttf') format('truetype')
}

html {
    margin: 0;
    max-width: 37.5rem;
    color: #FFFFFF;
    font-family: 'NotoMono';
    position: relative;
    font-size: 62.5%;
}

html * {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0;
    max-width: 37.5rem;
    overflow-x: hidden;
}

header > .logo, header > h1, header > p {
    margin: 1rem 0 0 0;
    padding-left: 1rem;
}

header > h1 {
    font-family: 'Britannic';
    font-size: 3.5rem;
    text-transform: uppercase;
}

header > p {
    font-size: 1.4rem;
}

main {
    margin: 0 1rem 3.5rem 1rem;
}

.logo {
    height: auto;
    display: block;
    transform: translateY(-20vw);
    animation: entete-logo .8s forwards;
}
@keyframes entete-logo {
    0% {
        opacity: .2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main p {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.bouton-sobre {
    display: block;
    margin-left: 19.5rem;
    margin-right: -1rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #EA9632;
    border-bottom: #EEE .2rem solid;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
    padding-top: 3rem;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

li {
    list-style: none;
    padding: .5rem 0;
}

.orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.liste-jeux {
    font-size: 1.6rem;
    padding-top: 5rem;
}

.liste-jeux > li {
    padding: .5rem 0;
}

.liste-lettre {
    color: #EA9632;
    font-size: 1.8rem;
    font-weight: bold;
}

.display-votes {
    margin-top: 3rem;
    font-size: 2rem;
    padding-bottom: 3rem;
}

.display-votes > * {
    padding-bottom: 1rem;
}

.demande-vote {
    border: none;
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 1.5rem 5rem;
    margin: 0 1.4rem;
}

.bouton-oui {
    background-color: #EA9632;
}

.bouton-non {
    background-color: #227F89;
}

form * {
    display: block;
    transition: all .3s;
}

form label {
    padding-top: 1rem;
}

form input {
    margin-bottom: 1rem;
    width: 40.7vw;
    padding-top: 1rem;
}

form input[type="submit"] {
    top: 50%;
    right: 0;
    padding: 2rem 1rem;
    width: 22.4vw;
    text-align: center;
}

.association-form {
    width: 30vw;
}

.profil_pic {
    margin: 1rem 0 0 1rem;
}


/* CSS PAGE CONTACT */

.contact > header > h1:first-of-type {
    margin-bottom: 10rem;
}

.equipe img:not(.instagram-icon) {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    display: inline-block;
}

.equipe .membre {
    display: block;
    position: relative;
    width: 35rem;
    padding-top: 3rem;
    padding-left: 1.5rem;
}

.membre p:first-of-type {
    position: absolute;
    margin-left: 12.5rem;
    top: 3.5rem;
    border-bottom: .1rem solid white;
    padding-right: 2.5rem;
    padding-bottom: .4rem;
}

.membre p:last-of-type {
    position: absolute;
    margin-left: 12.5rem;
    top: 7rem;
}

.instagram-icon {
    display: inline;
    height: 2rem;
    width: 2rem;
    margin-bottom: -.5rem;
    margin-right: 1rem;
}

.contact h3 {
    font-size: 2rem;
    margin-top: 7.5rem;
}

.contact > main > p:first-of-type {
    font-size: 2rem;
    text-align: right;
}

.contact form, .modify-profil form {
    border-left: white .1rem solid;
    padding-left: 2rem;
}

.contact form > *, .modify-profil form > * {
    background: none;
    font-size: 1.5rem;
    color: white;
    display: block;
    border: none;
    padding-bottom: 1rem;
}

.contact form > input:not(input[type="submit"]), .modify-profil form > input:not(input[type="submit"]) {
    border-bottom: #EA9632 .1rem solid;
    width: 30rem;
}

.contact form > input[type="submit"], .modify-profil form > input[type="submit"] {
    background-color: #EA9632;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 5rem auto;
    padding: 1.5rem .7rem;
    width: 15rem;
}

/* CSS PAGES REGLES */
.page-rules h1 {
    border-bottom: none;
    padding: 1rem 0 0 1rem;
}

.page-rules h2 {
    font-family: 'Britannic';
    font-size: 2.5rem;
    border-bottom: white .2rem solid;
    padding: 0 1rem 1rem;
    margin-top: 0;
    display: block;
    width: 70%;
}

.page-rules main > h3:first-of-type {
    display: inline-block;
    margin-top: .5rem;
    margin-right: 1rem;
}

.page-rules main > h3 {
    font-size: 1.6rem;
}

.demande-vote {
    margin-bottom: 3rem;
}

.fav-icon {
    display: inline-block;
    width: 3rem;
    height: auto;
    margin-bottom: -.5rem;
}

.page-rules > h4 {
    padding-left: 1rem;
}

/* CSS PAGE SETTINGS */
.settings main {
    font-size: 1.7rem;
}

.settings-option {
    margin: 10px 0 30px 10px;
    padding: 0;
}

.settings-option:first-of-type {
    margin-top: 50px;
}

/* CSS PAGE MODIFY PROFIL */
.profil_pic-modify, .profil_banner-modify {
    display: inline;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: none;
    object-position: 45% 53%;
    position: relative;
}

.text-modify {
    position: absolute;
    background-color: rgba(50,50,50,.5);
    font-size: 1.4rem;
    margin-top: -7.7rem;
    width: 7.5rem;
    text-align: center;
    padding: 2.7rem 0;
}

.modify-icon {
    display: inline-block;
    margin-top: 2rem;
}

.modify-icon:first-of-type {
    width: unset;
    display: inline-block;
}