header > h1 {
    padding-right: 5.8%;
    line-height: 4rem;
    text-align: right;
    vertical-align: middle;
    display: block;
    width: 70%;
    margin: 1rem 0 0 auto;
}

.logo {
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.img_head {
    position: absolute;
    animation: none;
    top: -1vw;
    left: -40vw;
    width: 75vw;
    height: auto;
    z-index: -1;
}

header > h1 {
    border-top: #FFFFFF .2rem solid;
    padding: 2.5rem 2rem 2.5rem 1rem;
}

.catch-phrase {
    font-size: 2rem;
    line-height: 2.2rem;
    display: block;
    width: 90%;
    padding: 5rem 1rem 5rem 2rem;
}

.index main .button {
    display: block;
    width: 95%;
    border: #EA9632 .2rem solid;
    margin: 2rem auto 0;
}

.index .button > h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 1.2rem auto;
}

.index .button > p {
    font-size: 1.6rem;
    padding: 1rem 1rem .5rem 1rem;
    margin: 1.2rem 0 0;
}

a.boardgames-square-link {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/board-game.png");
}

a.cards-square-link {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/cards-game.png");
}

.index h3 {
    color: #EA9632;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
}