footer {
    color: #242424;
    background: url("../../img/background-footer-phone.png") 50% 20%;
    padding: 2rem;
    margin: 7rem 0 0;
}

footer .mentions {
    margin-top: 4rem;
}

footer .mentions p {
    font-size: 1.2rem;
}

footer > .footer_links {
    padding-top: 1rem;
    font-size: 1.4rem;
    border-top: #242424 .1rem solid;
    position: relative;
    height: 3rem;
}

footer > .footer_links > a {
    display: inline-block;
    padding: 0 1.5rem .3rem 1.5rem;
    color: #242424;
}

footer > .footer_links > a:first-of-type {
    position: absolute;
    left: 0;
}

footer > .footer_links > a:nth-of-type(2) {
    position: absolute;
    right: 0;
}

footer > .footer_links > a:last-of-type {
    position: absolute;
    left: 2.3rem;
    top: 2.7rem;
}