@font-face {
    font-family: 'NotoMono';
    src: url('../../fonts/NotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Britannic';
    src: url('../../fonts/britannic.ttf') format('truetype');
}

@font-face {
    font-family: 'Amatic-Regular';
    src: url('../../fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Amatic-Bold';
    src: url('../../fonts/AmaticSC-Bold.ttf') format('truetype');
}

html {
    margin: 0;
    max-width: 37.5rem;
    color: #FFFFFF;
    font-family: 'NotoMono';
    position: relative;
    font-size: 62.5%;
}

html * {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0;
    max-width: 37.5rem;
    overflow-x: hidden;
}

header > .logo, header > h1, header > p {
    margin: 1rem 0 0 0;
    padding-left: 1rem;
}

header > h1 {
    font-family: 'Amatic-Bold';
    font-size: 5rem;
    text-transform: uppercase;
}

header > p {
    font-size: 1.4rem;
}

main {
    margin: 0 1rem 3.5rem 1rem;
}

.logo {
    height: auto;
    display: block;
    transform: translateY(-20vw);
    animation: entete-logo .8s forwards;
}
@keyframes entete-logo {
    0% {
        opacity: .2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main p {
    font-size: 1.5rem;
    line-height: 2.7rem;
}

.bouton-sobre {
    display: block;
    margin-left: 19.5rem;
    padding: 1rem .5rem 1rem 1.5rem;
    color: #EA9632;
    border-width: 1px;
    border-style: solid;
    border-image: url("../../img/button-border.png") 1;
    font-family: 'Amatic-Bold';
    font-size: 3rem;
    text-align: center;
}

.bouton-list {
    margin-left: 10rem;
    margin-top: 5rem;
}

.bouton-contribue {
    margin-left: 10rem;
    margin-top: 5rem;
    width: 18rem;
}

.bouton-return {
    margin-top: 3rem;
    margin-left: 25rem;
    margin-right: 3rem;
}

.bouton-sobre[href="buy-premium.html"] {
    width: 20rem;
}

.bouton-oui {
    background-color: #EA9632;
}

.bouton-non {
    background-color: #227F89;
}

h2 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
    padding-top: 3rem;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

li {
    list-style: none;
    padding: .5rem 0;
}

.orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-suppr {
    background: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: none;
}

.button-suppr .orange {
    font-weight: bold;
}

.liste-jeux {
    font-size: 1.6rem;
    padding-top: 5rem;
}

.liste-jeux > li {
    padding: .5rem 0;
}

.liste-lettre {
    color: #EA9632;
    font-weight: bold;
    font-family: 'Amatic-Bold';
    font-size: 3rem;
}

.display-votes {
    margin-top: 3rem;
    font-size: 2rem;
    padding-bottom: 3rem;
}

.display-votes > * {
    padding-bottom: 1rem;
}

.demande-vote {
    border: none;
    color: #FFFFFF;
    padding: 1.5rem 5rem;
    margin: 0 1.9rem;
    font-family: 'Amatic-Bold';
    font-size: 4rem;
}

.association-form {
    width: 30vw;
}

.profil_pic {
    margin: 1rem 0 0 1rem;
}

.spefont {
    font-family: 'Amatic-Bold';
    font-size: 3rem;
}

.fav-div.fav-on .fav-icon-on {
    display: unset;
}

.fav-div.fav-on .fav-icon-off {
    display: none;
}

.fav-div .fav-icon-on {
    display: none;
}

@keyframes voted {
    0% {
        color: #FFFFFF;
    }
    50% {
        color: #EA9632;
    }
    100% {
        color: #FFFFFF;
    }
}

.voted {
    animation: voted ease-in-out 1.2s infinite;
}


/* CSS PAGE CONTACT */

.contact > header > h1:first-of-type {
    margin-bottom: 10rem;
}

.equipe img:not(.instagram-icon) {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    display: inline-block;
}

.equipe .membre {
    display: block;
    position: relative;
    width: 35rem;
    padding-top: 3rem;
    padding-left: 1.5rem;
}

.membre p:first-of-type {
    position: absolute;
    margin-left: 12.5rem;
    top: 3.5rem;
    border-bottom: .1rem solid white;
    padding-right: 2.5rem;
    padding-bottom: .4rem;
}

.membre p:last-of-type {
    position: absolute;
    margin-left: 12.5rem;
    top: 7rem;
}

.instagram-icon {
    display: inline;
    height: 2rem;
    width: 2rem;
    margin-bottom: -.5rem;
    margin-right: 1rem;
}

.contact h3 {
    font-size: 2rem;
    margin-top: 7.5rem;
}

.contact > main > p:first-of-type {
    font-size: 2rem;
    text-align: right;
}

/* CSS PAGES REGLES */
.page-rules h1 {
    border-bottom: none;
    padding: 1rem 0 0 1rem;
}

.page-rules h2 {
    font-family: 'Amatic-Bold';
    font-size: 3.5rem;
    border-bottom: white .2rem solid;
    padding: 0 1rem 1rem;
    margin-top: 0;
    display: block;
    width: 70%;
}

.page-rules main > h3:first-of-type {
    display: inline-block;
    margin-top: .5rem;
    margin-right: 1rem;
}

.page-rules main > h3 {
    font-size: 1.6rem;
}

.demande-vote {
    margin-bottom: 3rem;
}

.fav-icon {
    display: inline-block;
    width: 3rem;
    height: auto;
    margin-bottom: -.5rem;
}

.page-rules > h4 {
    padding-left: 1rem;
}

/* CSS PAGE SETTINGS */
.settings main {
    font-size: 1.7rem;
}

.settings-option {
    margin: 45px 0 30px 10px;
    padding: 0;
}

.settings-option:first-of-type {
    margin-top: 50px;
}

.settings footer {
    margin-top: 0;
}

/* CSS PAGE MODIFY PROFIL */
.profil_pic-modify, .profil_banner-modify {
    display: inline;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: none;
    object-position: 45% 53%;
    position: relative;
}

.text-modify {
    position: absolute;
    background-color: rgba(50,50,50,.5);
    font-size: 1.4rem;
    margin-top: -7.7rem;
    width: 7.5rem;
    text-align: center;
    padding: 2.4rem 0;
}

/* CSS PAGE PROFIL */
.modify-icon {
    display: inline-block;
    margin-top: 2rem;
}

.modify-icon:first-of-type {
    width: unset;
    display: inline-block;
}

#badges img {
    height: 5rem;
}

#badges * {
    display: inline;
}

/* OUTILS */
#container-resultat-de .non_visible,
#container-resultat-pieces .non_visible {
    display: none;
}

.container-resultat-de .visible,
#container-resultat-de .courant,
#container-resultat-pieces .visible,
#container-resultat-pieces .courant {
    display: inline-block;
}

.outils{
    width: 100vw;
    margin: 0 -.7rem;
}

.outils li{
    border-image: url("../../img/menu-border.png") 4;
    border-width: 3px;
    border-style: solid;
    padding: 3vw;
    min-height: 65vh;
    margin: 3vw;
    position: relative;
}

#container-resultat-de,
#container-resultat-pieces {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
}

.outils li img {
    max-width: 24vw;
    height:auto;
    margin: 2vw;
    flex: auto;
}

.outils button:first-of-type {
    width: 50vw;
    margin-left: calc((85vw - 50vw)/2);
    bottom: 12vh;
}

.outils button {
    position: absolute;
    bottom: 1rem;

    margin-left: calc((85vw - 50vw)/5);
    margin-right: calc((85vw - 50vw)/5);

    color: #FFFFFF;
    background-color: #EA9632;
    border: none;

    width: 20vw;
    height: 20vw;
}

.outils .precedant-de,
.outils .precedant-piece{
    left: 10vw;
    font-family: 'Amatic-Bold';
    font-size: 10rem;
    border-radius: 5rem;
    line-height: 0;
}

.outils .suivant-de,
.outils .suivant-piece {
    right: 10vw;
    font-family: 'Amatic-Bold';
    font-size: 10rem;
    border-radius: 20rem;
    line-height: 0;
}

#container-resultat-de .non_visible,
#container-resultat-pieces .non_visible {
    display: none;
}

#container-resultat-de .visible,
#container-resultat-de .courant,
#container-resultat-pieces .visible,
#container-resultat-pieces .courant {
    display: inline-block;
}

#bouton-lancer-de {
    font-family: 'Amatic-Bold';
    font-size: 5rem;
}

#bouton-lancer-pieces {
    font-family: 'Amatic-Bold';
    font-size: 4rem;
}

.outils-autre {
    text-align: center;
    font-family: 'Amatic-Bold';
    font-size: 3rem;
}

@keyframes sideSlide1 {
    50% {transform: translateX(7px)}
}
@keyframes sideSlide2 {
    50% {transform: translateX(-7px)}
}

.anim-side-1 {
    display: inline-block;
    padding: 0 1.5rem;
    animation: sideSlide1 2s ease-in-out infinite;
}
.anim-side-2 {
    display: inline-block;
    padding: 0 1.5rem;
    animation: sideSlide2 2s ease-in-out infinite;
}