@font-face {
    font-family: 'NotoMono';
    src: url('../../fonts/NotoMono-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Britannic';
    src: url('../../fonts/britannic.ttf') format('truetype')
}

html {
    margin: 0 auto;
    max-width: 375px;
    color: #FFFFFF;
    font-family: 'NotoMono';
    position: relative;
    font-size: 62.5%;
}

html * {
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0 1rem;
    max-width: 1920px;
    overflow-x: hidden;
}

header > * {
    margin: 10px 0 0 0;
}

header > h1 {
    font-family: 'Britannic';
    font-size: 35px;
    text-transform: uppercase;
}

header > p {
    font-size: 14px;
}

.logo {
    height: auto;
    display: block;
    transform: translateY(-20vw);
    animation: entete-logo .8s forwards;
}
@keyframes entete-logo {
    0% {
        opacity: .2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main p {
    font-size: 15px;
    line-height: 22px;
}

.bouton-sobre {
    display: block;
    margin-left: 190px;
    padding: 10px;
    font-size: 25px;
    color: #EA9632;
    border-bottom: #EEE 2px solid;
}

h2 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    padding-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

li {
    list-style: none;
    padding: 5px 0;
}

.orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.liste-jeux {
    font-size: 16px;
    padding-top: 50px;
}

.liste-jeux > li {
    padding: 5px 0;
}

.liste-lettre {
    color: #EA9632;
    font-size: 18px;
    font-weight: bold;
}

.display-votes {
    margin-top: 30px;
    font-size: 20px;
    padding-bottom: 30px;
}

.display-votes > * {
    padding-bottom: 10px;
}

.demande-vote {
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px 50px;
    margin: 0 14px;
}

.bouton-oui {
    background-color: #EA9632;
}

.bouton-non {
    background-color: #227F89;
}

form * {
    display: block;
    transition: all .3s;
}

form label {
    padding-top: 1rem;
}

form input {
    margin-bottom: 1rem;
    width: 40.7vw;
    padding-top: 1rem;
}

form input[type="submit"] {
    top: 50%;
    right: 0;
    padding: 2rem 1rem;
    width: 22.4vw;
    text-align: center;
}

.association-form {
    width: 30vw;
}
