.nav-toggle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar, .nav-toggle-bar::before, .nav-toggle-bar::after {
    content: "";
    background-color: #eee;
    width: 100%;
    height: 0.25rem;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -1rem;
}

.nav-toggle-bar::after {
    top: 1rem;
}

.menu {
    background-color: #242424;
    position: fixed;
    width: 37.5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100vw);
    transition: all .6s;
    z-index: 1;
    height: 812px;
}

.menu-open .menu {
    transform: translateX(0);
}

.menu-open, .menu-open body {
    overflow: hidden;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
}

.menu-open .nav-toggle-bar::before, .menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    top: 0;
}

.menu li {
    opacity: 0;
    transition: all .5s ease;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 0 2rem;
    line-height: 2.5rem;
}

.menu li:after {
    content: url("../../img/divider-menu.png");
    display: block;
}
.menu li:last-of-type:after {
     content: none;
}

.menu ul {
    border-width: 3px;
    border-style: solid;
    border-image: url("../../img/menu-border.png") 4;
    width: 90%;
    display: block;
    margin: 9rem auto 7rem;
    padding-top: 1.5rem;
}

.menu h1 {
    font-family: 'Amatic-Bold';
    padding-right: 5.8%;
    font-size: 4.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    width: 60%;
    margin-left: 1.5rem;
}

.menu img {
    width: 9rem;
    height: auto;
    display: inline-block;
    padding-left: 1.5rem;
    margin-bottom: -3rem;
    border-left: #FFFFFF .1rem solid;
}

.menu-open .menu li {
    opacity: 1;
}

.menu-open .menu li:nth-of-type(n+1) {
    transition-delay: .3s;
}

.menu-open .menu li:nth-of-type(n+2) {
    transition-delay: .35s;
}

.menu-open .menu li:nth-of-type(n+3) {
    transition-delay: .4s;
}

.menu-open .menu li:nth-of-type(n+4) {
    transition-delay: .45s;
}

.menu-open .menu li:nth-of-type(n+5) {
    transition-delay: .5s;
}