html {
    margin: 0 auto;
    line-height: calc(3vw + .3rem);
    max-width: 375px;
}

html * {
    box-sizing: border-box;
}

body {
    margin: 0 1rem;
    max-width: 1920px;
    overflow-x: hidden;
}

header > * {
    margin: 10px 0 0 0;
}

header > h1 {
    padding-right: 5.8%;
    line-height: 40px;
    text-align: right;
    vertical-align: middle;
    display: block;
    width: 70%;
    margin: 10px 0 0 auto;
}

header > img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-20vw);
    animation: entete-logo .8s forwards;
}
@keyframes entete-logo {
    0% {
        opacity: .2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header > #de {
    position: absolute;
    animation: none;
    top: 10vw;
    left: -40vw;
    width: 75vw;
    height: auto;
    z-index: -1;
}

.catch-phrase {
    font-size: 20px;
    line-height: 22px;
    display: block;
    width: 90%;
    padding: 50px 10px 10px 10px;
}

.index main .bouton {
    display: block;
    width: 95%;
    border: #EA9632 2px solid;
    margin-top: 20px;
}

.index .bouton > h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.index .bouton > p {
    font-size: 16px;
    padding: 10px 10px 5px 10px;
}

a.societe {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/board-game.png");
}

a.cartes {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../img/cards-game.png");
}

.index h3 {
    color: #EA9632;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

main p {
    font-size: 15px;
    line-height: 22px;
}

.bouton-sobre {
    display: block;
    margin-left: 190px;
    padding: 10px;
    font-size: 25px;
    color: #EA9632;
    border-bottom: #EEE 2px solid;
}

footer {
    color: #242424;
    background: url("../../img/fond-footer-phone.png") no-repeat;
    padding: 20px;
    margin: 0;
}

footer .mentions {
    margin-top: 40px;
}

footer .mentions p {
    font-size: 12px;
}

footer > .footer_links {
    padding-top: 10px;
    font-size: 14px;
    border-top: #242424 1px solid;
    position: relative;
    height: 30px;
}

footer > .footer_links > a {
    display: inline-block;
    padding: 0 15px 3px 15px;
}

footer > .footer_links > a:first-of-type {
    position: absolute;
    left: 0;
}

footer > .footer_links > a:nth-of-type(2) {
    position: absolute;
    right: 0;
}

footer > .footer_links > a:last-of-type {
    position: absolute;
    left: 23px;
    top: 27px;
}