@font-face {
    font-family: 'NotoMono';
    src: url('../../fonts/NotoMono-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Britannic';
    src: url('../../fonts/britannic.ttf') format('truetype')
}

html {
    color: #FFFFFF;
    font-family: 'NotoMono';
    position: relative;
    font-size: 62.5%;
}

body {
    background-color: #242424;
}

header > h1 {
    font-family: 'Britannic';
    font-size: 35px;
    text-transform: uppercase;
}

/*#para1, #para2, #para3 {
    border-right: #227F89 calc(2px + .1vw) solid;
    border-left: #EA9632 calc(2px + .1vw) solid;
    position: relative;
    padding-bottom: 5px;
}*/


.orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_links a {
    color: #242424;
}